<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Digi Dungeon</title>
		<link rel="stylesheet" href="/public/styles/master.css" />
	</head>
	<body>
		<!-- The main content area -->
		<div class="content">
			<!-- Game log keeps track of the rolls, items and messages -->
			<div class="game-log">
				<div class="messages"></div>
				<div class="message-box">
          <input class="message-box-text"></input>
          <a class="message-box-send" href="#" onclick="return false;">Send</a>
          <a class="message-box-roll" href="#" onclick="return false;">Roll</a>
        </div>
			</div>
			<div class="toolbar">
				<a class="tool selected" href="#" onclick="return false;">Selector</a>
				<a class="tool" href="#" onclick="return false;">Panner</a>
				<a class="tool" href="#" onclick="return false;">Brushie</a>
				<a class="tool" href="#" onclick="return false;">The Ruller</a>
			</div>
			<!-- Party list keeps track of intiative and the current creatures in play -->
			<div class="party-list"></div>
			<!-- Map keeps the combat grid -->
			<canvas class="map"></canvas>
		</div>
		<!-- Templates are hidden from the user -->
		<div class="templates" hidden="hidden">
			<div id="party-item-template">
				<div class="party-item">
					<div class="party-item-portrait"></div>
					<div class="party-item-hp">10/10</div>
					<div class="party-item-ac">10</div>
				</div>
			</div>
      <div id="game-log-roll-singular-template">
        <div class="roll-singular">
          <p class="roll-singular-type">1d20</p>
          <div>
            <p class="roll">1</p>
            <p class="modifier">+0</p>
            <p class="result">1</p>
          </div>
        </div>
      </div>
      <div id="game-log-roll-multiple-template"></div>
		</div>
		<!-- Import the Javascript features -->
		<script src="/public/javascript/socket.io.js"></script>
		<script src="/public/javascript/feature-util.js"></script>
		<script src="/public/javascript/feature-gamelog.js"></script>
	</body>
</html>
