<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Digi Dungeon</title>
		<link rel="stylesheet" href="/public/styles/master.css" />
	</head>
	<body>
		<!-- The main content area -->
		<div class="content">
			<!-- Overlay is for notes -->
			<div class="overlay">
				<div class="note hidden"></div>
				<div class="roll-note hidden"></div>
			</div>
			<!-- Menu Overlay -->
			<div class="menu-overlay">
				<div class="roll-menu hidden">
					<div class="roll-type-selector">
						<a href="#" onclick="return false;">d100</a>
						<a class="selected" href="#" onclick="return false;">d20</a>
						<a href="#" onclick="return false;">d12</a>
						<a href="#" onclick="return false;">d10</a>
						<a href="#" onclick="return false;">d8</a>
						<a href="#" onclick="return false;">d6</a>
						<a href="#" onclick="return false;">d4</a>
					</div>
					<div class="roll-details-selector">
						<input class="roll-quantity-selector" type="number" value="1"><p class="roll-quantity-descriptor">d20</p>
						<p>+</p><input class="roll-modifier-selector" type="number" value="0">
					</div>
					<a class="roll-roll-roll" href="#" onclick="return false;">ROLL</a>
				</div>
			</div>
			<!-- Game log keeps track of the rolls, items and messages -->
			<div class="game-log">
				<div class="top-left-border"></div>
				<div class="middle">
					<a class="game-log-toggle" href="#" onclick="return false;"></a>
					<div class="messages"></div>
					<div class="message-box">
						  <input type="text" class="message-box-text"></input>
						  <a class="message-box-send" href="#" onclick="return false;"></a>
						  <a class="message-box-roll" href="#" onclick="return false;"></a>
					</div>
				</div>
				<div class="bottom-left-border"></div>
			</div>
			<div class="toolbar">
				<a class="tool selected" href="#" onclick="return false;">Selector</a>
				<a class="tool" href="#" onclick="return false;">Panner</a>
				<a class="tool" href="#" onclick="return false;">Brushie</a>
				<a class="tool" href="#" onclick="return false;">The Ruller</a>
			</div>
			<!-- Party list keeps track of intiative and the current creatures in play -->
			<div class="party-list"></div>
			<!-- Map keeps the combat grid -->
			<canvas class="map"></canvas>
		</div>
		<!-- Templates are hidden from the user -->
		<div class="templates" hidden="hidden">
			<div id="party-item-template">
				<div class="party-item">
					<div class="party-item-portrait"></div>
					<div class="party-item-hp">10/10</div>
					<div class="party-item-ac">10</div>
				</div>
			</div>
      		<div id="game-log-roll-singular-template">
      		  	<div class="roll-singular">
      		  	  	<p class="roll-type">1d20</p>
      		  	  	<div>
      		  	  	  	<p class="roll">1</p>
      		  	  	  	<p class="modifier">+0</p>
      		  	  	  	<p class="result">1</p>
      		  	  	</div>
      		  	</div>
      		</div>
      		<div id="game-log-roll-multiple-template">
      		  <div class="roll-multiple">
      		    <p class="roll-type">4d20</p>
      		    <div>
					<div class="rolls">
						<p class="roll">1</p>
						<p class="roll">1</p>
						<p class="roll">1</p>
						<p class="roll">1</p>
					</div>
      		      	<p class="modifier">+0</p>
      		      	<p class="result">4</p>
      		    </div>
        	</div>
			<div id="game-log-roll-lot-template">
			  <div class="roll-lot">
				<p class="roll-type">8d20</p>
				<div>
					<p class="roll-total">8</p>
					<p class="modifier">+0</p>
					<p class="result">8</p>
				</div>
		  	  </div>
			</div>
			<div id="game-log-chat-message-text-template">
				<div class="chat-message-text">
					<p class="username">username</p>
					<p class="text">textContent</p>
				</div>
			</div>
			<div id="toolset-tool-template">
				<div class="tool">
					<a class="tool-button" href="#" onclick="return false;"><img src="" alt=""><p>Toolname</p></a>
					<div class="tool-options"></div>
				</div>
			</div>
			<div id="toolset-tool-option-template">
				<div class="tool-option"></div>
			</div>
		</div>
		<!-- Import the Javascript features -->
		<script src="/public/javascript/socket.io.js"></script>
		<script src="/public/javascript/feature-socket.js"></script>
		<script src="/public/javascript/feature-util.js"></script>
		<script src="/public/javascript/feature-note.js"></script>
		<script src="/public/javascript/feature-gamelog.js"></script>
		<script src="/public/javascript/feature-map.js"></script>
		<script src="/public/javascript/feature-toolset.js"></script>
		<script src="/public/javascript/feature-basic_tools.js"></script>
		<!-- Hotkeys is the last to be imported -->
		<script src="/public/javascript/feature-hotkeys.js"></script>
		<!-- Actual last one to be imported -->
		<script src="/public/javascript/feature-event_keeper.js"></script>
	</body>
</html>
