$backgroundColour: #121212;
$modalBackgroundColour: #323232;
$buttonBackgroundColour: #1f1a1f;
$textColour: #f1f1f1;

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $backgroundColour;
  color: $textColour;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.game-log {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 5%;
  min-width: 300px;
  border: $buttonBackgroundColour solid 2px;
  background: $textColour;
}

.toolbar {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 30%;
  right: 30%;
  height: 28px;
  border: $buttonBackgroundColour solid 2px;
  background: $textColour;

  .tool {
    flex: 1 1 0;
    padding: 12px;
    margin: 8px;
  }
}

.party-list {
  position: absolute;
  left: 0;
  top: 5%;
  bottom: 5%;
  min-width: 300px;
  border: $buttonBackgroundColour solid 2px;
  background: $textColour;
}
